body {
  font-family: Microsoft JhengHei;
}

#banner {
  margin-top: 50px;
}

.title {
  color: #fa8072;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  color: #606060;
  font-weight: bold;
}

span {
  margin-right: 5px;
}

footer {
  background-color: #000;
  color: #FFF;
  height: 50px;
  text-align: center;
  font-size: 10px;
  padding-top: 20px;
  margin-top: 20px;
}
